::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #ec634e;
  --primary-color: #ec634e;
  --primary-color-light: #f6f5ff;
  --color-black: #000;
  --color-purple: #4f4294;
  --color-white: #fff;
  --toggle-color: #ddd;
  --text-color: #383838;
  --text-color-white: #ffffff;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
.btn-secondary{
  background: var(--primary-color);
  border: 0;
}
.btn-secondary:hover{
  background: var(--color-purple);
  border:0;
}
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  font-family: "Raleway", sans-serif;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}
.nav-link {
  padding: 0px !important;
}
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
.txtwhite{
  color:var(--text-color-white);
}
/*======= H ========*/
h2 {
  color: #1f1f1f;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
}

/********* title *******/
.txtLeft {
  text-align: left;
}

/************paragraphe*****/
.txtP {
  font-family: "Raleway", sans-serif;
  color: var(--color-black);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color-white);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  font-family: "Raleway", sans-serif;
}

.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 34px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%) rotate(180deg);
  height: 40px;
  width: 40px;
  background-color: var(--color-white);
  color: var(--sidebar-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--color-purple);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--color-white);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  padding: 26px 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}
.bx-search:before {
  color: var(--primary-color);
}
.box-video {
  background-color: var(--primary-color);
  height: 326px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box-text-video {
  text-align: center;
  font-size: 38px;
  display: flex;
  justify-content: center;
  padding-top: 122px;
  color: #ffffff;
}
.box-chaye {
  background-color: var(--color-white);
  border-radius: 10px;
  padding-top: 34px;
  padding-bottom: 34px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sansFond {
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, -0.75);
}
.paddingAssurance {
  padding-top: 31px;
  padding-left: 68px;
}
.btnChaye {
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  background: var(--primary-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  height: 51px;
  width: 190px;
  justify-content: center;
  align-items: center;
}
.btnChaye:hover {
  background: var(--color-purple);
  color: #fff;
}

.btnChaye-purple {
  color: var(--text-color-white);
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--color-purple);
  box-shadow: 2px 1px 8px 0px rgba(65, 28, 13, 0.2);
}

.btnChaye-orange {
  color: var(--text-color-white);
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--primary-color);
  box-shadow: 2px 1px 8px 0px rgba(65, 28, 13, 0.2);
}
.btnChaye-purple:hover {
  color: var(--text-color-white);
}
.btnChaye-orange:hover {
  color: var(--text-color-white);
}
/********margin********/
.margin-right-20 {
  margin-right: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-36 {
  margin-top: 36px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
/********fin margin********/

/********Padding******/
.padding-top-55 {
  padding-top: 55px;
}
.padding-left-60 {
  padding-left: 60px;
}
.padding-right-60 {
  padding-right: 60px;
}
/*******fin padding*****/

/***********display flex********/
.displayFlex {
  display: flex;
}
/***********fin display flex********/

.col-4 {
  flex-basis: content;
}

.cat-layout .v-height {
  height: 240px;
}

@media (max-width: 767.98px) {
  .cat-layout .img {
    height: 240px;
  }
}

.cat-layout .h-entry {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.cat-layout .h-entry .post-category {
  color: #fff;
}
.cat-layout .h-entry .featured-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.cat-layout .h-entry:hover .featured-img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cat-layout .h-entry.mb-30 {
  margin-bottom: 30px;
}
.cat-layout .h-entry .date {
  font-size: 15px;
}
.cat-layout .h-entry.gradient {
  position: relative;
}
.cat-layout .h-entry.gradient:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.cat-layout .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  max-width: 350px;
  background: rgba(236, 99, 78, 0.85);
}
.cat-layout .text h2,
.cat-layout .text .h2 {
  color: #f3f3f3;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cat-layout .text span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
.cat-layout .text.text-sm h2,
.cat-layout .text.text-sm .h2 {
  font-size: 18px;
  line-height: 1.5;
}

.cat-layout .gradient {
  position: relative;
}
.cat-layout .gradient:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

@media (max-width: 767.98px) {
  .cat-layout .img-5 {
    height: 240px !important;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.cat-layout-alt .img-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .cat-layout-alt .img-1 {
    height: 240px !important;
    position: relative;
    margin-bottom: 30px;
  }
}

.cat-layout-alt .img-2 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .cat-layout-alt .img-2 {
    height: 240px !important;
  }
}

.cat-layout-alt .mb30 {
  margin-bottom: 30px;
}

.cat-layout-alt .hentry {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.cat-layout-alt .hentry .featured-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.cat-layout-alt .hentry:hover .featured-img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cat-layout-alt .gradient {
  position: relative;
}
.cat-layout-alt .gradient:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.cat-layout-alt .post-category {
  margin-left: 20px;
  margin-top: 10px;
}

.cat-layout-alt .v-height {
  height: 300px;
}

.cat-layout-alt .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  max-width: 350px;
}
.cat-layout-alt .text h2,
.cat-layout-alt .text .h2 {
  color: #fff;
  font-size: 26px;
}
.cat-layout-alt .text span {
  color: rgba(255, 255, 255, 0.7);
}
.cat-layout-alt .text.text-sm h2,
.cat-layout-alt .text.text-sm .h2 {
  font-size: 18px;
  line-height: 1.5;
}

.cat-layout-alt .two-col > a {
  width: calc(50% - 15px);
  float: left;
}
@media (max-width: 575.98px) {
  .cat-layout-alt .two-col > a {
    width: 100% !important;
    float: none !important;
    margin-bottom: 30px;
  }
}
/*******slider******/
.txtViolet{
  color:var(--color-purple);
  font-weight: bold;
}
#destination-controls:active,
#destination-controls:focus,
#prevnext-testimonial:active,
#prevnext-testimonial:focus {
  outline: none;
}

#destination-controls .next,
#destination-controls .prev,
#prevnext-testimonial .next,
#prevnext-testimonial .prev {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 40px;
  height: 40px;
  background-color: #efefef;
  border-radius: 50%;
}
#destination-controls .next > span,
#destination-controls .prev > span,
#prevnext-testimonial .next > span,
#prevnext-testimonial .prev > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#destination-controls .next:hover,
#destination-controls .prev:hover,
#prevnext-testimonial .next:hover,
#prevnext-testimonial .prev:hover {
  opacity: 1;
}
#destination-controls .next:hover,
#destination-controls .prev:hover,
#prevnext-testimonial .next:hover,
#prevnext-testimonial .prev:hover {
  background-color: #f17945;
  color: #fff;
}

#destination-controls .prev,
#prevnext-testimonial .prev {
  right: 0;
}
#destination-controls .prev:hover,
#prevnext-testimonial .prev:hover {
  color: #fff;
  right: 7px;
}

#destination-controls .next,
#prevnext-testimonial .next {
  left: 0;
}
#destination-controls .next:hover,
#prevnext-testimonial .next:hover {
  color: #fff;
  left: 7px;
}
.txt-alaune {
  display: flex;
  flex-direction: column;
  padding: 1px 15px;
  line-height: 21px;
}
.block-testimonial {
  background-color: #fff;
  padding: 5px;
  height: 100% !important;
  border-radius: 6px;
}
.block-testimonial p {
  font-size: 18px;
  color: #000;
  line-height: 2;
  margin-bottom: 30px;
}
.block-testimonial .author {
  display: block;
  margin-bottom: 40px;
}
.block-testimonial .author img {
  width: 100%;
  margin-bottom: 20px;
}
.block-testimonial .author h3,
.block-testimonial .author .h3 {
  font-size: 18px;
  color: var(--color-purple);
  margin-bottom: 0;
}
.block-testimonial .author .position {
  font-size: 14px;
}

.quote {
  font-size: 5em;
  line-height: 0;
}

.wide-slider-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wide-slider-testimonial > div {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 15px;
}
.wide-slider-testimonial .owl-dots {
  position: absolute;
  display: inline-block;
  width: auto;
  text-align: left !important;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-img.fixed {
  background-attachment: fixed;
}
.bg-img.overlay {
  position: relative;
}
.bg-img.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.bg-img > .container {
  position: relative;
  z-index: 1;
}

.wide-slider-testimonial-wrap {
  position: relative;
}
.wide-slider-testimonial-wrap .tns-nav {
  margin-bottom: 30px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wide-slider-testimonial-wrap .tns-nav button {
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  width: 12px !important;
  height: 7px !important;
  margin: 5px;
}
.wide-slider-testimonial-wrap .tns-nav button:active,
.wide-slider-testimonial-wrap .tns-nav button:focus,
.wide-slider-testimonial-wrap .tns-nav button:hover {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
.wide-slider-testimonial-wrap .tns-nav button:before {
  display: block;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: transparent;
  border: 2px solid var(--color-purple);
}
.wide-slider-testimonial-wrap .tns-nav button:hover:before,
.wide-slider-testimonial-wrap .tns-nav button.tns-nav-active:before {
  background-color: var(--color-purple);
}

.bgPurple{
  background-color: #4F4294;
  background-image: url(../images/bg-expedier.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 418px;
}
.DisplayVol{
  display: flex; justify-content: center; gap: 5%;
}

/* the code below is for the dropdown heading */
.setting-description {
  background-color: #fff; 
  border-radius: 15px 15px 0px 0px;
  
  min-width: 300px;
  width: 100% !important;
  max-width: 483px;
}

.h10 {
  font-size: 12px;
  margin-left: 5px !important;
  letter-spacing: 0.8px;
  font-family: Arial !important;
}

.setting-description-text {
  padding-top: 18px !important;
  color: #81828b;
  font-family: Gilroy-Regular !important;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
  position: relative;
  display: inline-block;
  min-width: 231.5px;
  width: 100%;
  max-width: 483px;
  padding: 0px 0px 0px 0px;
  min-height: 44px;
  border-radius: 0px 0px 15px 15px;
  background:#fff ;
  text-align: left;
  color:#1c2028;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  font-family: Arial;
}


.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  rotate: 180deg;
}

.selected-display {
  margin-left: 20px;
}

svg {
  transition: all 0.3s;
}

.wrapper-dropdown::before {
  position: absolute;
  top: 50%;
  right: 16px;

  margin-top: -2px;

  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.rotated {
  transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
  transition: 0.3s;

  position: absolute;
  top: 120%;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 99;

  border-radius: 15px;
  box-shadow: inherit;
  background: inherit;

  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li {
  padding: 0 15px;
  line-height: 45px;
  overflow: hidden;
}

.wrapper-dropdown .dropdown li:last-child {
  border-bottom: none;
}

.dropdown {
  padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
  background-color:#EC634E;
  color:var(--text-color-white);
  border-radius: 10px;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;

  border-radius: 15px;
}
.btnValider{
  display: flex;
  width: 170px!important;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50px!important;
  background: #4F4294!important;
  box-shadow: 2px 1px 8px 0px rgba(65, 28, 13, 0.20);
  border: 0;
  color: #fff;
  height: 45px;
}
.btnValider:hover{
  background: #EC634E!important;  
  border: 0; 
}
/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
  DISPLAY: flex;
  justify-content: center;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 70px 70px;
  /* margin: -160px 20px 0; */
  margin-top: -7.25rem !important;
  position: relative;
  width: 560px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #3a3973;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

footer{
  background-color:#2D2C2C;
  font-family: "Raleway", sans-serif;
  color: var(--text-color-white);
  font-size: 12px;
  padding: 25px;
  
}
footer a{
  text-decoration: none;color:#fff;
}
footer a:hover{
  color:var(--primary-color);
}
footer span{
  border-left: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

footer span:first-child{
  border-left: none;
}