/* Accueil.css */
/* .content {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1fr 1fr;
}
.content-menu {
    grid-row: 1;
    grid-column: 1;
}
.content-body  {
    grid-row: 1;
    grid-column: 1;
    
} */
/* Button search */
.search {
    margin:20px ;
}

/* Assurance */
.assurance {
    padding: 3% 1%;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
}

/* Annonce */
.annonce {
    display: flex;
    gap: 3%;
    margin: 2%;
    padding: 3% 1%;
}

.card {
   
    border: 1px solid #ced4da;
    width: 30%;
    height: 5%;
}

.card img {
    width: 300px;
    height: 200px;
}

.btn {
    background-color: #EC634E;
    padding: 1% 2%;
    border-radius: 20px;
    margin: 3%;
    color: #FFFFFF;
}

.btnAnnonce {
    display: flex;
    justify-content: center;

}

.btnAnnonce .btn:hover {
    background-color: #4F4294;
    color: #FFFFFF;
}