/* Accueil.css */
.content-home{
    display: flex;
    flex-direction: column;
}

.hero {
    height: 30vh;
    background-image: url('../../../public/img/head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.heroItem {
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 2%;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.548);
}

.heroItem input {
    border: 2px solid #EC634E;
    color: #FFFFFF;
    padding: 2% 4%;
    margin: 2% 10%;
    border-radius: 10px;
    background-color: #EC634E;
}

/* Button search */
.search{
    margin-top: 1%;
}
/* Assurance */
.assurance {
    padding: 2% 1%;
    margin: auto;
    margin-top: 1%;
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
}
/* Annonce */
.annonce {
    display: flex;
    gap: 2px;
    margin-top: 4px;
    padding: 3% 1%;
}
.card{
    margin-right: 1%;
    border: 1px solid #ced4da;
    width: 20%;
    height: 5%;
}
.card img{
    width: 300px;
    height: 200px;
}
.btn{
    background-color: #EC634E;
    padding: 1% 2%;
    border-radius:20px;
    margin: 3% ;
    color: #FFFFFF;
}
.btnAnnonce{
    display: flex;
    justify-content: center;
 
}
.btnAnnonce .btn:hover{
    background-color: #4F4294;
    color: #FFFFFF;
}