.hero {
    height: 30vh;
    background-image: url('../../../public/img/head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.heroItem {
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 2%;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.548);
}

.heroItem input {
    border: 2px solid #EC634E;
    color: #FFFFFF;
    padding: 2% 4%;
    margin: 2% 10%;
    border-radius: 10px;
    background-color: #EC634E;
}

.heroItem input:hover {
    background-color: #4F4294;
    border: 2px #4F4294 solid;
}

.content-header {
    width: 90%;
    margin: auto;
}

/* Assurance */
.assurance {
    margin-top: 2%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
}

.titre {
    font-weight: bold;
    margin: 30px 0;
}

.paraAssurance {
    font-size: 15px;
}


@media screen and (max-width: 768px) {
    .hero {
        height: 20vh;
    }
    .heroItem {
        padding: 1%;
        width: 70%;
    }
    
    .heroItem input {
        padding: 2%;
        margin: 4%;
        border-radius: 7px;
        background-color: #EC634E;
    }
    .heroItem h2{
        font-size: 1.2rem;
    }
    .heroItem .button-size{
        font-size: .7rem;

    }
    .heroItem input:hover {
        background-color: #4F4294;
        border: 2px #4F4294 solid;
    }
    
    .content-header {
        width: 80%;
        margin: 20px auto;
    }
    /* Assurance */
    .assurance {
        margin-top: 1%;
    }
    .paraAssurance {
        font-size: 12px;
    }
  }