.content-image{
    background-image: url('../../../public/img/bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.Logo{
    margin-top: 4rem;
}
.content-login{
    border-radius: 15px;
}
.login input{
    padding: 10px 3px;
    border-radius: 10px;
}
.login .valider{
    background:  #4F4294;
    border-radius: 15px;
}
.login h5{
    color: #CFCFCE;
}
.login .reseSocio a i{
    font-size:2rem ;
}
.login .valider{
    width: 30%;
}
@media (max-width: 768px) {
    .content-image {
        height: 100vh;
    }
    .login .valider{
        width: 30%;
    }
   .footerfixe {
        width: 100%;
        margin: auto;
        position: absolute;
        bottom: 0;
    }
}