.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  background-color: #EC634E;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
}

.navbar a:hover {
  background-color: #4F4294;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
}

.dropdown.menu {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.dropdown.item {
  color: white;
  font-size: 14px;
  padding: 10px;
}

.dropdown.item:hover {
  background-color: #4F4294;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
}