.navbar {
  background-color: #EC634E;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
} */

.bg-chaye {
  --bs-bg-opacity: 1;
  background-color: #EC634E;
  box-shadow: #4F4294 10px ;
}

/* .navbar ul li{
  list-style: none;
  margin-top: 20px;
}
.navbar li a{
  color: white;
  text-decoration: none;
  font-size: 16px;

}
.navbar li i{
  color: white;
  font-size: 16px;
  margin-right: 8px;

}

.navbar li:hover {
  padding: 10px;
  background-color: #4F4294;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
}

.dropdown.menu {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.dropdown.item {
  color: white;
  font-size: 14px;
} */

