.navbar {
  height: 100vh;
  background-color: #EC634E;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}
.navbar ul li{
  list-style: none;
  margin-top: 20px;
}
.navbar li a{
  color: white;
  text-decoration: none;
  font-size: 15px;

}
.navbar li i{
  color: white;
  font-size: 15px;
  margin-right: 10px;

}

.navbar li:hover {
  padding: 10px;
  background-color: #4F4294;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
}

.dropdown.menu {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.dropdown.item {
  color: white;
  font-size: 14px;
}

/* .dropdown.item:hover {
  background-color: #4F4294;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
} */