.politique-de-confidentialite {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .politique-de-confidentialite h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
  }
  
  .politique-de-confidentialite h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .politique-de-confidentialite p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .politique-de-confidentialite ul {
    margin-left: 20px;
  }
  
  .politique-de-confidentialite li {
    margin-bottom: 5px;
  }
  
  /* Responsive*/
  @media screen and (max-width: 768px) {
    .politique-de-confidentialite {
      padding: 10px;
    }
  
    .politique-de-confidentialite h1 {
      font-size: 20px;
    }
  
    .politique-de-confidentialite h2 {
      font-size: 18px;
    }
  
    .politique-de-confidentialite p {
      font-size: 14px;
    }
  }
  