.content-image{
    background-image: url('../../../public/img/bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Logo{
    margin-top: 4rem;
}
.singup input{
    padding: 10px 3px;
    border-radius: 10px;
}
.singup .valider{
    background:  #4F4294;
    border-radius: 15px;
}


